$blue-major : #01233f;
$blue-minor : #33b5e5;
$blue-hover : #0099cc;
$blue-faint : #add8E6;
$grey-faint : #dddddd;
$grey-dark : #333333;
$font-secondary: Georgia, "Trebuchet Ms" /*, "Helvetica Neue"*/;
$font-primary: "Lucida Sans", sans-serif;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.row {
  padding: 10px 25px;
  margin-bottom: 40px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
[class*="l-text"] {
  width: 100%;
}
[class*="r-text"] {
  width: 100%;
}
[class*="l-image"] {
  width: 100%;
}
[class*="r-image"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .central .content-box p {width: 40%;}
  .central .content-box img {width: 60%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .central .content-box p {width: 40%;}
  .central .content-box img {width: 60%;}
}

html {
  font: 100% $font-primary;
}
.header {
  background-color: $blue-major;
  color: #ffffff;
  display: block;
  height: 80px;
}

.header .navbar-brand {
  display: block;
  margin: 5px auto;
  float: left;
}

.header .logo-text {
  margin: 20px 5px auto;
  padding: 0;
  display: inline-block;
}

img.logo-main {
  width: 60px;
  height: auto;
  display: inline-block;
}

.header p.slogan {
  display: inline-block;
  font-size: 12px;
  font-style: oblique;
  color: $blue-faint;
}

nav {
  display: block;
  float: right;
}

.navbar .navbar-inverse {
  width: 100%;
  border-color: $blue-major !important;
  background-color: $blue-major !important;
}

.navbar .navbar-inverse .container-fluid .navbar-header button.navbar-toggle {
  border-color: transparent;
  background-color: transparent;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: $blue-major;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
  background-color: $blue-hover;
}

.col-6 .central,.col-m-6 .central  {
  display: block;
  position: relative;
}

.central::after {
  content: "";
  background-image: url("../images/logo-main.png");
  background-repeat: repeat;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.central {
  color: $grey-dark;
}
.central .content-box {
  display: block;
  width: 100%;
}
.central .content-box p {
  display: inline-block;
  vertical-align: bottom;
  margin: 20px 2px;
}
.central .content-box img {
  display: inline-block;
  max-width: 350px;
  margin: 20px 2px;
}
.central .content-box p.l-text {
  float: left;
}
.central .content-box p.r-text {
  float: right;
}
.central .content-box img.l-image {
  float: left;
}
.central .content-box img.r-image {
  float: right;
}


.aside {
  background-color: $blue-faint;
  padding: 20px 10px;
  min-height: 50%;
  color: $blue-major;
  text-align: left;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font: 100% $font-secondary;
}

.aside h2 {
  text-align: center;
  font-size: 25px;
}

.aside ol, .aside ul {
  margin-left: 10px;
  padding-left: 10px;
}
.aside li, .aside p  {
  text-align: left;
  font-size: 14px;
  line-height: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $blue-major;
  color: $blue-faint;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

.modal-dialog .modal-content {
  background-color: $blue-faint;
}

.data-form {
  color: $blue-major;
}
.data-form input {
  width: 100%;
  display: block;
  border: solid 1px $grey-dark;
  margin: 10px auto;
  padding: 5px;
  line-height: 20px;
  font-size: 15px;
  font: 100% $font-primary;
  border-radius: 2px;
}
